on:
  workflow_call:
    inputs:
      dir:
        type: string
      target:
        type: string
      features:
        type: string
      test:
        type: boolean
jobs:
  rust:
    name: Build & check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.dir }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Linux dependencies
        if: inputs.dir == 'gui' || inputs.dir == 'tui'
        run: |
          sudo apt-get update
          sudo apt-get install -y libudev-dev libxkbcommon-dev
      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          targets: ${{ inputs.target }}
      - name: Build crate
        run: cargo build --target "${{ inputs.target }}" --features "${{ inputs.features }}" --release
      - name: Format code
        run: cargo fmt --check
      - name: Lint code
        run: cargo clippy --target "${{ inputs.target }}" --features "${{ inputs.features }}" -- -D warnings
      - name: Run tests
        run: cargo test --target "${{ inputs.target }}" --features "${{ inputs.features }}"
        if: inputs.test
